/** RESET PROPERTIES **/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

/*BACKGROUNDS*/
body {
    background-color: #323333;
}

html,
body {
    padding-top: 1rem;
    font-family: muli;
    font-weight: 300;
}


/****** LAYOT ******/
/*** DISPLAY/POSITION/FLOAT ***/

/*** NAV ***/
nav {
    position: fixed;
    z-index: 100;
}

ul {
    list-style: none;
    overflow: hidden;
}

.navegator li {
    display: inline-block;
}

.navegator li a {
    display: block;
}

.checkbtn {
    float: right;
    display: none;
}

#check {
    display: none;
}

/*** MAIN ***/
p:before {
    position: absolute;
}

.precio {
    position: absolute;
}
/*** FOOTER ***/

/*** HEIGHT/WIDTH/PADDING/BORDER/MARGIN ***/
nav {
    width: 100%;
    margin-top: -32px;
}

.navegator li {
    padding: 22px;
}

.navegator li a {
    letter-spacing: 1.5px;
}

.checkbtn {
    font-size: 43px;
    line-height: 105px;
    margin-right: 40px;
}

/**MAIN CONTENT**/
#title{
    padding-top: 90px;
    text-align: center;
    padding-bottom: 70px;
    font-size: 60px;
    letter-spacing: 6px;
}

p {
    background: inherit;
    width: 80%;
    max-width: 60rem;
    min-width: 300px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
}

p:before {
    content: '';
    bottom: .4rem;
    width: 100%;
    height: 0;
    line-height: 0;
}

.descripcion {
    background: inherit;
    display: inline;
    z-index: 1;
    padding-right: .5rem;
}

.precio {
    background: inherit;
    min-width: 4rem;
    bottom: 0;
    right: 0;
    padding-left: .5rem;
    text-align: right;
    z-index: 2;
}

.entry {
    background: inherit;
    width: 80%;
    max-width: 60rem;
    min-width: 300px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    letter-spacing: 6px;
}

/*** FOOTER ***/
footer {
    text-align: center;
    padding-bottom: 30px;
}

footer small {
    padding-bottom: 5px;
}

/*----------------------------------------------*/
/**** STYLE / COLORS / BACKGROUNDS / ... ****/
/***NAV***/
nav {
    background: #ae9b65;
    text-align: center;
}

.navegator li a {
    transition: 0.5s;
    color: #323333;
    text-decoration: none;
    font-family: 'SlateW01-Bold', sans-serif;
}

.navegator li a:hover {
    transition: 0.5s;
    color: #fff;
}

.checkbtn {
    color: #fff;
    cursor: pointer;
}

/*** MAIN ***/
#title{
    font-family: 'SlateW01-Bold', sans-serif;
    color: #ae9b65;
}

p {
    color: #ae9b65;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p:before {
    border-bottom: 1px dashed #ae9b65;
}

.precio:after {
    content: '€';
}

.entry {
    border-top: 2px solid #858485;
    border-bottom: 2px solid #858485;
    font-family: 'SlateW01-Bold', sans-serif;
    color: #ae9b65;

}

/*** FOOTER ***/
footer {
    background-color: #323333;
}

footer small {
    color: #fff;
}


